.header {
    background-color: $couleur-fond;
    &__logo {
        color: $couleur-text;
        font-size: 2.5rem;
    }

    &__menu {
        color: $couleur-text;
        font-size: 1.5rem;
    }
}