.appareils {
    background-color: $couleur-fond-clair_v1;
    &__detail {
        background-color: $couleur-fond-clair_v2;
        .appareils__body {
            background-color: $couleur-fond-clair_v3;
        }
    }
}