.produit {
    background-color: $couleur-fond-clair_v1;
    padding-bottom: 30px;
    &__detail {
        background-color: $couleur-fond-clair_v2;
        .produit__body {
            background-color: $couleur-fond-clair_v3;
        }
    }
}