.fond {
    background-color: $couleur-fond;
}

.fond-foncer {
    background-color: $couleur-fond-foncer;
}

.fond-clair-v1 {
    background-color: $couleur-fond-clair-v1;
}

.fond-clair-v2 {
    background-color: $couleur-fond-clair-v2;
}

.fond-clair-v3 {
    background-color: $couleur-fond-clair-v3;
}